---
Checks:                'clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-*,misc-*,modernize-*,portability-*,bugprone-*,-modernize-use-trailing-return-type'
WarningsAsErrors:      ''
HeaderFilter:          '(?!cute/.*)'
AnalyzeTemporaryDtors: false
FormatStyle:           file
...
